<ul>
    <li>
        <NavLink href="Home" Match="NavLinkMatch.All">
            
        </NavLink>
    </li>
    <li>
        <NavLink href="/new-bug">
            
        </NavLink> 
    </li>
</ul>